*{
    margin: 0;
    padding: 0;
    margin: auto;
}
.output-textbox{
    padding: 10px;
    margin: 30px auto;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 90px;
    text-align: center;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}
#output-textbox3{
    padding: 10px;
    margin: 0px auto 10PX auto;
}

.plain-back{
background-color: black;
height:70vh;
}
.main-container-dice{
    margin: 0px auto;
    /* align-content: center; */
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.main-container>.dropdown{
    align-self: flex-end;
}
.dices-container{
    display: flex;
}
.dice-container{
    display: flex;
    flex-direction: column;
    padding: 38px;
}
@media screen and (max-width:700px) {
    .dice-container{
        padding: 10px;
    }
}