*{
    margin: 0;
    padding: 0;
    margin: auto;
}
.output-textbox{
    padding: 10px;
    margin: 30px auto;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 90px;
    text-align: center;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

.plain-back{
background-color: black;
height:70vh;
}
.main-container-dice{
    margin: 0px auto;
    /* align-content: center; */
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.dropdown{
    align-self: flex-end;
}
.dices-container{
    display: flex;
    flex-wrap: wrap;
}
.dice-container{
    display: flex;
    flex-direction: column;
    padding: 38px;
}